<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src='js/bignumber.min.js'></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="Possum" ng-controller="PossumCtrl">

    <ion-pane>
      <div class="bar bar-header bar-assertive">
        <h1 class="title">P-POSSUM Mortality</h1>
      </div>
      <div class="bar bar-subheader mortality light-bg">
        <div class="text-center padding-top" ng-bind-html="mortality()"></div>
      </div>
      <ion-content class="has-header has-subheader">
        <div class="list">
          <div class="item item-item-darkder item-dark">Age</div>
          <ion-radio ng-model="data.phys.age" ng-repeat="opt in var.age.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Cardiac</div>
          <ion-radio ng-model="data.phys.cardiac" ng-repeat="opt in var.cardiac.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Respiratory</div>
          <ion-radio ng-model="data.phys.resp" ng-repeat="opt in var.resp.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Heart Rate</div>
          <ion-radio ng-model="data.phys.hr" ng-repeat="opt in var.hr.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Systolic BP</div>
          <ion-radio ng-model="data.phys.sbp" ng-repeat="opt in var.sbp.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">ECG</div>
          <ion-radio ng-model="data.phys.ecg" ng-repeat="opt in var.ecg.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">GCS</div>
          <ion-radio ng-model="data.phys.gcs" ng-repeat="opt in var.gcs.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Haemoglobin <small>(g/L)</small></div>
          <ion-radio ng-model="data.phys.hb" ng-repeat="opt in var.hb.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">White Blood Cells <small>(x 10<sup>12</sup>/L)</small></div>
          <ion-radio ng-model="data.phys.wbc" ng-repeat="opt in var.wbc.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Urea <small>(mmol/L)</small></div>
          <ion-radio ng-model="data.phys.ur" ng-repeat="opt in var.ur.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Sodium <small>(mmol/L)</small></div>
          <ion-radio ng-model="data.phys.na" ng-repeat="opt in var.na.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Potassium <small>(mmol/L)</small></div>
          <ion-radio ng-model="data.phys.k" ng-repeat="opt in var.k.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Operation Urgency</div>
          <ion-radio ng-model="data.op.urg" ng-repeat="opt in var.urg.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Operation Severity</div>
          <ion-radio ng-model="data.op.sev" ng-repeat="opt in var.sev.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Number of Procedures</div>
          <ion-radio ng-model="data.op.procs" ng-repeat="opt in var.procs.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Predicted Blood Loss <small>(mL)</small></div>
          <ion-radio ng-model="data.op.bld" ng-repeat="opt in var.bld.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Peritoneal Soiling</div>
          <ion-radio ng-model="data.op.soil" ng-repeat="opt in var.soil.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
          <div class="item item-item-darkder item-dark">Malignancy</div>
          <ion-radio ng-model="data.op.malig" ng-repeat="opt in var.malig.options" ng-value="opt" name="{{opt.name}}">{{opt.name}}</ion-radio>
        </div>
        <div class="row"><div class="col subdued" style="text-align: center;" ng-click="openModal()">About</div></div>
        <script id="about-modal.html" type="text/ng-template">
          <div class="modal">
            <ion-header-bar class="bar-assertive">
              <h1 class="title">About Possum</h1>
              <button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
            </ion-header-bar>
            <ion-content>
              <div class="row">
                <div class="col">
                  <p>Possum calculates the Portsmouth Physiological and Operative Severity Score for the enUmeration of Mortality and morbidity (P-POSSUM) score for general surgical patients, using the algorithm described by Prytherch et al (doi:10.1046/j.1365-2168.1998.00840.x.).</p>
                  <p>Possum was developed by Kenrick Turner, an NHS doctor based in the UK.</p>
                  <a href="mailto:hello@kenners.org?subject=Possum Feedback" class="button button-outline button-block button-assertive">Report an issue</a>
                </div>
              </div>
            </ion-content>
          </div>
        </script>
      </ion-content>
    </ion-pane>
  </body>
</html>
